* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    #card{
        max-width: 350px;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        background: linear-gradient(black) padding-box, conic-gradient(from var(--rotate), black , #f5cd02, black) border-box;
        border: 5px solid transparent;
        border-radius: 15px;

        img{
            width: 100%;
            border-radius: 10px;
        }

        h1{
            font-size: 24px;
        }

        p{
            font-size: 14px;
        }
    }
}